body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightblue;
  }
  
  .container {
    text-align: center;
  }
  
  .App {
    text-align: left;
    background-color: white; /* Set the background color for the content */
    padding: 20px;
    border-radius: 10px;
  }